              <!-- Content Row -->
              <div class="row">
                
                <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">A. Sumber, Mutasi, dan Dampak Covid-19 bagi Tubuh Manusia</h6>
                    </div>
                    <!-- isi dari card induk -->
                    <div class="card-body py-1">
                        <div class="card">
                            <div class="card-header ">
                              <h6 class="m-0 font-weight-bold text-primary">1.	Apa saja rantai infeksi dari mikroorganisme?</h6>
                            </div>
                            <div class="card-body mb-0">
                               <li>Virus.</li>
                               <li>Bakteri.</li>
                               <li>Parasit.</li>
                          </div>
                        </div>
                  </div>
                  <!-- end card isi -->

                  <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">2.	Apakah antibiotik bisa menyembuhkan infeksi yang disebabkan oleh virus Covid-19?</h6>
                        </div>
                        <div class="card-body mb-0">
                          Antibiotik digunakan untuk mengobati penyakit yang disebabkan oleh bakteri, bukan infeksi virus. Tapi untuk virus, antibiotik mempunyai manfaat.
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                  <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">3.	Darimanakah virus, bakteri, dan parasit ini berasal?</h6>
                        </div>
                        <div class="card-body mb-0">
                          Mikroorganisme ini berasal dan menular dari orang per orang, hewan peliharaan, hewan liar melalui cairan mereka yang secara tidak langsung tersentuh atau terhirup masuk ke dalam tubuh kita melalui mulut, mata, hidung, dan kulit saat terluka. Mikroorganisme ini juga bisa menular dari benda sekitar kita, seperti makanan, tanah, dan air. 
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                  <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">4.	Mengapa mikroorganisme mudah masuk melalui mata, mulut, hidung?</h6>
                        </div>
                        <div class="card-body mb-0">
                          Karena di mata, mulut, hidung terdapat selaput lendir sehingga mikroorganisme mudah masuk dan berkembang di dalamnya. Itulah yang disebut sebagai infeksi. Cara penanggulangannya adalah dengan memutus rantai infeksi.
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <!-- isi dari card induk -->
                <div class="card-body py-2">
                  <div class="card">
                      <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">5.	Apakah itu virus?</h6>
                      </div>
                      <div class="card-body mb-0">
                        <li>Virus pada umumnya tidak mempunyai alat-alat untuk kehidupan sel, virus hanya mengandung untaian gen DNA dan RNA.</li>
                        <li>Virus berada dalam bentuk partikel independen yang disebut dengan virion, virion ini dibungkus oleh kapsid. Virion ini ada yang ber-envelope dan ada juga yang tidak ber-envelope. </li>
                        <li>Virus disebut benda hidup ketika dia berada di dalam tubuh makhluk hidup, dan disebut benda mati ketika dia berada di luar tubuh makhluk hidup.</li>
                    </div>
                  </div>
              </div>
              <!-- end card isi -->

                <!-- isi dari card induk -->
                <div class="card-body py-2">
                  <div class="card">
                      <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">6.	Bagaimana dengan Covid-19?</h6>
                      </div>
                      <div class="card-body mb-0">
                        <li>Nama virus dari Covid-19 adalah SARS-CoV2 karena virus ini ada kemiripan dengan virus SARS pada tahun 2003. Covid-19 adalah kelompok dari Corona.</li>
                        <li>Jenis Coronavirus yang banyak menginfeksi manusia terdiri dari virus yang menimbulkan gejala biasa atau yang biasanya disebut dengan “commond cold”, dan virus yang mengalami mutasi sehingga menimbulkan gejala berat.</li>
                        <li>Coronavirus yang menimbulkan gejala biasa diantaranya 229E (alpha), NL63 (alpha), OC43 (beta), dan HKU1 (beta).</li>
                        <li>Coronavirus yang mengalami mutasi diantaranya adalah SARS (beta) yang muncul pada tahun 2003, MERS (beta) muncul pada tahun 2013, dan SARS-CoV2 pada tahun 2019. </li>
                    </div>
                  </div>
              </div>
              <!-- end card isi -->

                  <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">7.	Apakah yang dimaksud dengan mutasi?</h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Virus hanya memiliki rantai DNA dan rantai RNA</li>
                          <li>Rantai DNA berbentuk doublehelix, di dalam rantai tersebut ada 4 asam amino yang saling berkombinasi membentuk gen. Kombinasi ini bisa berubah-ubah. </li>
                          <li>Mutasi bisa terjadi bukan hanya di dalam virus, tapi mutasi terjadi di dalam tubuh makhluk hidup. Di dalam tubuh kita akan ada sebuah organ yang mengkonfirmasi apabila ada asam amino yang tidak berpasangan dengan asam amino yang seharusnya. Tubuh kita akan menghancurkan secara otomatis apabila terjadi mutasi tersebut. Namun, hal ini tidak berlaku pada virus, karena virus tidak mempunyai organ kontrol. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">8.	Apa saja yang menimbulkan terjadinya suatu mutasi?</h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Radiasi, misalnya paparan sinar matahari. Namun, belum ada studi yang mengatakan bahwa virus ini bisa mati apabila terpapar sinar matahari. Virus akan mati dengan suhu sekitar diatas 125°C.contoh lainnya adalah dengan rontgen. Rontgen bisa memicu proses mutasi, hal ini terjadi saat pembentukan DNA di dalam tubuh.</li>
                          <li>Bahan kimia, seperti rokok, penggunaan zat aditif.</li>
                          <li>Agen infeksi, misalnya Human Papillomavirus dan Helicobacter Pylori.</li>
                          <li>Proses terjadinya mutasi:<br>Virus dari hewan A, masuk ke dalam virus dari hewan B. Kedua virus berbeda tersebut bermutasi dan membentuk suatu virus baru yang memiliki karakter yang berbeda dengan virus asalnya.</li>
                          <li>Virus Corona berasal dari hewan yang ditularkan ke manusia secara tidak disengaja. Supaya menjadi produk akhir, virus ini membutuhkan satu host lagi, sehingga terjadi kombinasi komponen gen virus tadi. </li>
                          <li>Ada satu lagi mutasi yang lebih sederhana yang disebut dengan Antigenic drift, ini terjadi karena ada sepotong gen yang timbul karena adanya radiasi atau hal lain sehingga genetiknya berubah. Perubahan ini tidak merubah sifat dasar virusnya, tapi ini akan merubah komponen-komponen yang mengubah perilaku virusnya, seperti bisa lebih ganas atau lebih lemah. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">9.	Darimanakah virus Covid-19 berasal?</h6>
                        </div>
                        <div class="card-body mb-0">
                          Menurut penelitian terbaru, awalnya virus ini berasal dari kalelawar. Kemudian butuh satu host perantara, namun host perantaranya belum ditemukan siapa, hipotesa sementara adalah trenggiling, sehingga ada kombinasi antara komponen gen yang ada di kalelawar dengan trenggiling sehingga melahirkan virus yang baru yang kebetulan virus ini cocok dengan reseptor ACE2 di dalam tubuh manusia, kemudian terjadilah infeksi SARS-CoV2.
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">10.	Apakah ada kemungkinan virus SARS-CoV2 buatan manusia?</h6>
                        </div>
                        <div class="card-body mb-0">
                          Sejauh ini belum ada bukti artificial viral backbone. Namun dari pemetaan genetik terakhir, gen virus ini mirip dengan gen virus yang ada pada kalelawar, yang kebetulan hasil mutasi dengan host perantaranya cocok dengan reseptor ACE2 di tubuh manusia.
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">11.	Apa yang terjadi setelah virus masuk ke dalam tubuh manusia?</h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Virus bertemu dengan reseptor manusia dan reseptor menelan virus masuk ke dalam organ sel tubuh manusia. Seperti yang dijelaskan sebelumnya, virus tidak memiliki organ apa-apa selain untaian DNA dan RNA. Setelah masuk ke dalam tubuh manusia, virus membajak fungsi organ yang ada di dalam sel tubuh manusia untuk mendukung proses replikasi si virus yang masuk.</li>
                          <li>Setelah terbentuk, virus akan masuk ke dalam masa viremia, yaitu masa virus berada di dalam aliran darah, sehingga saat terjadi infeksi biasanya akan timbul gejala demam tinggi karena virus ini bertambah banyak dalam waktu yang singkat sehingga tubuh akan merespon dengan demam dengan harapan meningkatkan suhu untuk mematikan virus. Suhu tubuh maksimal adalah sekitar 40°C dengan dampak kerusakan pada beberapa sel yang ada di dalam tubuh sehingga tidak bisa menjamin bahwa suhu tubuh dapat mematikan si virus. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">12.	Apa symptom yang muncul ketika virus Covid-19 masuk ke dalam tubuh manusia?</h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Pada sistem tubuh mengalami demam dan kelelahan.</li>
                          <li>Pada pernapasan mengalami bersin, pilek, sakit tenggorokan, batuk kering, sesak napas.</li>
                          <li>Pada sel darah mengalami penurunan sel darah putih karena reseptor ACE2 juga terdapat di dalam pembuluh darah.</li>
                          <li>Pada ginjal mengalami penurunan fungsi.</li>
                          <li>Pada saluran usus mengalami diare.</li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <!-- isi dari card induk -->
                <div class="card-body py-2">
                  <div class="card">
                      <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">13.	Apakah daya tahan tubuh kita tidak bisa melawan saat virus Covid-19 masuk?</h6>
                      </div>
                      <div class="card-body mb-0">
                        <li>Begitu ada makhluk asing masuk ke dalam tubuh, ada beberapa sel-sel pertahanan tubuh yang berada di garis depan yang akan menghambat makhluk asing tersebut.</li>
                        <li>Sembari menghambat, sel pertahanan tubuh akan menangkap sinyal-sinyal yang bisa diambil dan akan dimasukkan ke dalam kelenjar getah bening manusia. Di dalam kelenjar getah bening manusia masih banyak sel-sel lain terutama sel limfosit. Sel limfosit tersebut akan merekam apabila terjadi penyerangan dari benda asing sehingga tubuh mulai beradaptasi. Kemudian sel ini akan diproduksi lebih banyak dan bergerak ke arah side infection. </li>
                        <li>Selain itu, juga ada namanya antibodi yang dibentuk untuk menyerang virus ini. Cara mereka berkomunikasi dilakukan melalui sitokin yang berfungsi sebagai pembawa pesan molekuler antara sel. Akan tetapi karena banyaknya dan sibuknya, fungsi sitokin menjadi tidak efektif, justru dapat menimbulkan dampak yang merusak sel di dalam tubuh, saat itu lah jaringan paru-paru mulai bermasalah sehingga timbul lah jaringan parut yang mengakibatkan terjadinya sesak napas.</li>
                    </div>
                  </div>
              </div>
              <!-- end card isi -->

                  <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">14.	Bagaimana proses imflamasi virus ini di dalam tubuh manusia?</h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Primmary inflammatory responses, dimana terjadinya pelepasan sitokin yang bertujuan untuk melindungi tubuh.</li>
                          <li>Secondary inflammatory responses, terjadi kerusakan pada sel-sel tubuh.</li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">15.	Bagaimana jika kita sakit lalu kita mengonsumsi imboost, propolis, jahe , kunyit dan sebagainya?</h6>
                        </div>
                        <div class="card-body mb-0">
                          Boleh saja, tapi yang perlu diingat adalah meminum hal-hal yang bersifat immunomodulator seharusnya dilakukan sebelum sakit karena pada saat sakit, dengan produksi sitokin yang berlebih, hal-hal yang memacu sistem pertahanan tubuh justru akan berdampak buruk untuk tubuh kita. Sebaiknya dihindari ketika dinyatakan positif covid-19.
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">16.	Bagaimana kondisi paru saat terjadi infeksi covid-19?</h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Pada saat terjadi kerusakan yang berlebihan paru-paru yang seperti spons berubah menjadi jaringan parut dan oksigen sulit untuk menembus.</li>
                          <li>Saat setelah infeksi covid-19, pada pneumonia berat akan terjadi kerusakan pada paru-paru. Jaringan paru-paru yang sudah menjadi jaringan parut, maka ia akan sulit kembali ke normal karena jaringan paru-paru bukan termasuk jaringan yang mudah untuk beregenerasi, masih bisa tapi tidak seperti jaringan kulit dan jaringan darah.</li>
                          <li>Komplikasinya seperti kesulitan bernafas, kehabisan oksigen sehingga akan menimbulkan infeksi lainnya yang disebabkan oleh bakteri, karena bakteri jahat umumnya bisa bertahan dalam kondisi kadar oksigen yang rendah. Biasanya yang mudah terkena ini adalah orang yang rentan, seperti lansia, perokok, dan mempunyai penyakit sebelumnya.</li>
                          <li>Covid-19 bisa sembuh, menurut data penderita penyakit ini 80% dinyatakan sembuh.</li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                    <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">17.	Dimana peran antibiotik pada saat terserang virus?</h6>
                        </div>
                        <div class="card-body mb-0">
                          Saat terserang virus, sistem imun menurun dan semakin lama, jumlah virus di dalam tubuh manusia juga menurun. Akan tetapi, jumlah bakteri di dalam tubuh manusia meningkat sehingga disinilah antibiotik berperan. Antibiotik tidak untuk menyembuhkan covidnya, tapi untuk mengcover infeksi yang disebabkan oleh bakteri.
                      </div>
                    </div>
                </div>
                <!-- end card isi -->


                  <!-- isi dari card induk -->
                  <div class="card-body py-2">
                    <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">18.	Mengapa corona menular lebih cepat daripada influenza?</h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Karena virus corona memiliki angka replikasi lebih besar daripada influenza sehingga bisa menularkan lebih banyak ke orang lain.</li>
                          <li>Pola penularan melalui droplet atau cairan tubuh, jadi sangat diperlukan physical distancing.</li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->
                </div>
              </div>

          <!-- Induk card -->
            <div class="col-lg-6 mb-0">
                <div class="card shadow mb-2" style="text-align: justify;">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">B. Sesi Diskusi</h6>
                  </div>
                  <!-- isi dari card induk -->
                  <div class="card-body">
                      <div class="card">
                          <div class="card-header ">
                            <h6 class="m-0 font-weight-bold text-primary">1.	Apa yang menyebabkan mutasi?  apakah spontan karena sel bermitosis? </h6>
                          </div>
                          <div class="card-body mb-0">
                             <p>Setiap hari sel di dalam tubuh kita akan bermutasi karena kita merupakan sel hidup, tetapi mutasi di dalam tubuh kita akan dikontrol oleh organ di dalam tubuh. Apabila mutasi tersebut tidak tepat dan membahayakan maka mutasi sel tersebut akan di hentikan, ini merupakan contoh untuk mutasi secara spontan. Tetapi pada kondisi-kondisi tertentu mutasi tersebut akan menimbulkan masalah yang disebabkan oleh sinar matahari, bahan-bahan kimia, radiasi dan infeksi virus. </p>
                        </div>
                      </div>
                </div>
                <!-- end card isi -->

                <!-- isi dari card induk -->
                <div class="card-body  py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">2.	Bagaimana pengaruh pH terhadap virus? ada beberapa saran untuk mengkonsumsi buah atau air dengan pH 5.8 – 8.5?</h6>
                        </div>
                        <div class="card-body mb-0">
                           <li>Memang betul, bahwa virus punya batas toleransi tertentu terhadap Ph tergantung pada jenis virus tersebut. Untuk SAR-COV-2 belum ada kesimpulan seberapa asam atau basa pH yang kemudian bisa mematikan virus ini. Berdasarkan gejala yang dialami, virus ini bisa sampai ke dalam lambung yang menunjukkan bahwa virus ini memiliki batas pH yg cukup rendah yang menyebabkan diare</li>
                           <li>Saya menganjurkan untuk mencuci tangan dengan sabun (bersifat basa) karena lebih efektif untuk membunuh virus SAR-COV-2 daripada mengkonsumsi jeruk karena kadar asam yang juga terbatas. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <!-- isi dari card induk -->
                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">3.	Dari 14 hari masa inkubasi, pada hari keberapa dimulai kerusakan paru-paru hingga pasien dinyatakan kristis? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <li>Untuk menentukan hari keberapa kerusakan paru-paru dimulai ini sangat individual tergantung dengan kondisi daya tahan tubuh masing-masing. Individu yang memiliki penyakit penyerta dan riwayat merokok dalam 2-3 hari akan terjadi pneumonia. Sementara untuk individu yang memiliki daya tahan yang baik bisa saja tidak terjadi apa-apa tanpa gejala.</li>
                           <li>Hal ini juga yang menyebabkan tingkat kematian untuk individu dengan penyakit penyerta dan riwayat perokok tinggi. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <!-- isi dari card induk -->
                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">4.	Bagaimana penyebaran virus melalui airborne? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <p>Airborne ini sangat dipengaruhi oleh ukuran, massa, dan ketahanan partikel itu sendiri di dalam udara. Penelitian terakhir mengatakan virus SAR-COV-2 dapat bertahan selama 3 jam di udara, namun masih dibutuhkan waktu untuk diteliti lebih lanjut. </p>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">5.	Apakah perlu menghentikan konsumsi obat hipertensi golongan ace? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <li>Perlu dipikirkan terlebih dahulu risk and benefit dari menghentikan obat hipertensi, karena sifatnya individual. Akan lebih baik jika dikonsultasikan dengan dokter yang merawat. </li>
                           <li>Berbeda halnya dengan obat penurun panas ibuprofen atau proris yang termasuk dalam ace inhibitor, untuk saat ini pemakaian ibuprofen atau proris sebaiknya dihindari terlebih dahulu dan diganti dengan paracetamol. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">6.	Jika bakteri dapat bermutasi menjadi lebih resistan terhadap antibiotik, apakah virus juga dapat lebih resisten terhadap antibodi? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <li>Bakteri dan virus memiliki kedudukan yang berbeda. Bakteri merupakan suatu mahluk hidup yang lebih kompleks yang memiliki organ-organ sel lain di dalam tubuhnya dimana bisa memproduksi sesuatu, contohnya enzim yang kemudian menangkal antibiotik. </li>
                           <li>Pada virus, mereka bermutasi sehingga ada kemungkinan resistan dan ada juga kemungkinan tidak resistan terhadap antibodi karena antibodi kita mengenal antigen/struktur virus. Oleh karena itu, ketika virus bermutasi mengubah struktur antibodi kita tidak akan mengenal tetapi berjalannya waktu akan dibentuk antibodi baru untuk menangkal virus tersebut. </li>
                           <li>Hal ini juga menjelaskan mengapa ketika kita sudah di vaksin influenza masih bisa terkena influenza, karena influenza merupakan virus yang paling suka bermutasi yang bersifat antigenic drift (berganti hanya sepotong-sepotong bagian kecil) sehingga kekebalan itu tidak akan total tetapi saat terkena infeksi berikutnya akan lebih ringan. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">7.	Apakah mengetuk kelenjar timus dapat meningkatkan imunitas? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <p>Hal ini tidak benar, ketika kita menjadi dewasa kelenjar timus akan hilang. Jika masih adapun ukuran kelenjar timus sudah kecil dan fungsinya tidak berfungsi dengan baik. Kedudukan kelenjar timus nantinya akan digantikan oleh kelenjar getah bening. </p>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">8.	Apakah vaksin influenza dapat membantu mengatasi COVID-19? </h6>
                        </div>
                        <div class="card-body mb-0">
                          <li>Pada orang yang masih sehat, vaksin influenza diharapkan bisa meringakan infeksi jika terkena influenza dimana saat bersamaan terkena. Sehingga virus SAR-COV-2 tidak memberatkan. </li>
                          <li>Vaksin influenza tetap tidak bisa mencegah SAR-COV-2 namun ada kemungkinan untuk meningkatkan daya tahan tubuh yang alamiah. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">9.	Bagaimana proses seseorang yang terkena COVID-19 bisa sampai sembuh? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <p>Kesembuhan penderita COVID-19 Sangat tergantung oleh banyak faktor. Pada orang yang memiliki daya tahan tubuh bagus maka akan sembuh dengan sendirinya dimana antibodi yang bekerja. Kebanyakan orang, sekitar 80% memiliki mild symptom/gejala sedang seperti batuk dan demam sebaiknya segera minum obat batuk dan penurun panas. Jika ada tanda-tanda sesak nafas segera hubungi pihak yang berwenang. Human isolation sangat penting untuk mencegah penularan ke orang lain. </p>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">10.	Bagaimana cara para tenaga kesehatan agar tidak terjnagkit virus COVID-19?</h6>
                        </div>
                        <div class="card-body mb-0">
                           <p>Saat ini yang dilakukan para tenaga kesehatan untuk mencegah terjangkit virus COVID-19 yaitu dengan menggunakan APD (alat pelindung diri) </p>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">11.	Apakah penderita COVID-19 yang sembuh tetap memiliki cacat (jaringan parut) pada paru-paru?</h6>
                        </div>
                        <div class="card-body mb-0">
                           <p>Ya, benar. Apabila jaringan parut sudah terbentuk maka tidak dapat kembali seperti semula, sehingga terdapat keterbatasan fungsi paru-paru dalam pertukaran oksigen. Data terakhir menunjukkkan terjadi penurunan fungsi paru-paru sekitar 30%. </p>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">12.	Apakah ini yang dimaksud dengan virus bermutasi dengan teori herd immunity? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <p>Betul, ini bisa saja terjadi dimana virus menggunakan materi di dalam tubuh kita kemudian memperbaiki diri. Sehingga dianjurkan jika ingin herd immunity sebaiknya menunggu ketika vaksin sudah ada. </p>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                <!-- awal card isi -->
                <div class="card-body py-1">
                    <div class="card">
                        <div class="card-header ">
                          <h6 class="m-0 font-weight-bold text-primary">13.	Apakah ada acara untuk meminimalisir cytokine storm pada penderita COVID-19? </h6>
                        </div>
                        <div class="card-body mb-0">
                           <li>Upaya untuk meminimalisir sulit dilakukan karena menekan imunitas tubuh otomatis memberikan kesempatan pada virus untuk menyebar lebih ganas lagi sebab cytokine storm  muncul karena respon dari sel-sel imun tubuh.</li>
                           <li>Upaya yang mungkin dilakukan yaitu dengan tidak menambah berat cytokine storm dengan tidak memberikan obat immunomodulator pada penderita covid-19. </li>
                      </div>
                    </div>
                </div>
                <!-- end card isi -->

                  <!-- awal card isi -->
                <div class="card-body py-1">
                  <div class="card">
                      <div class="card-header ">
                        <h6 class="m-0 font-weight-bold text-primary">14.	Apakah benar dilarang mengkonsumsi obat ekinase? </h6>
                      </div>
                      <div class="card-body mb-0">
                         <li>Ekinase berfungsi untuk meningkatkan daya tahan tubuh. </li>
                         <li>Pada penderita COVID-19 tidak disarankan untuk mengkonsumsi obat tersebut. Namun, untuk orang yang sehat diperbolehkan untuk mengkonsumsi obat ekinase. Penggunaan obat ekinase tidak disarakan untuk jangka panjang di sarankan maksimal 8 minggu, dalam bebrapa penelitian juga menyarankan maksimal 2 minggu karena efek sampingnya yang bersifat toxic pada liver/hati. </li>
                    </div>
                  </div>
              </div>
              <!-- end card isi -->

                <!-- awal card isi -->
                <div class="card-body py-1">
                  <div class="card">
                      <div class="card-header ">
                        <h6 class="m-0 font-weight-bold text-primary">15.	Dalam beberapa kasus covid ada yg positif namun tidak ada gejala artian itu dalam keadaan sehat. Orang tanpa gejala ini tanpa sadar bersosialisasi dengan orang di sekitarnya, secara otomatis orang tersebut akan terpapar COVID-19. Untuk orang yang tidak memiliki gejala ini apakah benar virus ini dorman di dalam tubuh?</h6>
                      </div>
                      <div class="card-body mb-0">
                         <p>Orang yang sudah terkonfirmasi positif COVID-19 namun tidak memiliki gejala digolongkan sebagai carrier, dan benar bahwa mereka ini berpotensi untuk menularkan pada orang di sekitarnya. Sementara apakah virus ini dorman atau tidak, jawabannya bisa iya dan bisa juga tidak. Dikatakan iya, apabila memang sampai saat kesembuhannya nanti (setelah melewati masa inkubasi 14 hari dan hasil tes PCR negatif) tetap tidak menunjukkan gejala apapun. Sementara pada mereka yang tidak dorman, replikasi virus membutuhkan waktu yang lebih lama untuk melawan sistem pertahanan tubuh sehingga gejala akan muncul terlambat dan cenderung ringan.</p>
                    </div>
                  </div>
              </div>
              <!-- end card isi -->

              <!-- awal card isi -->
              <div class="card-body py-1">
                <div class="card">
                    <div class="card-header ">
                      <h6 class="m-0 font-weight-bold text-primary">16. Apa ada test untuk membuktikan seseorang carrier atau bukan?</h6>
                    </div>
                    <div class="card-body mb-0">
                       <p>Tes yang paling akurat saat ini untuk menentukan apakah seseorang itu benar-benar terinfeksi oleh SARS-COV2 adalah dengan pemeriksaan PCR. Namun dikarenakan keterbatasan jumlah pemeriksaan (baik karena reagen pemeriksaan, alat maupun sumber daya) maka tidak dapat digunakan untuk screening/penapisan. Alat pemeriksaan rapid yang beredar saat ini dapat digunakan namun memiliki keterbatasan keakuratan pemeriksaan sehingga ada potensi untuk memberikan hasil negatif palsu.</p>
                  </div>
                </div>
            </div>
            <!-- end card isi -->

            <!-- awal card isi -->
            <div class="card-body py-1">
              <div class="card">
                  <div class="card-header ">
                    <h6 class="m-0 font-weight-bold text-primary">17.	Terdapat penelitian di Filipina yang menyebutkan bahwa Virgin Coconut Oil VCO relatif bisa mengatasi COVID-19, apakah ini benar? </h6>
                  </div>
                  <div class="card-body mb-0">
                     <p>Sampai saat ini belum ada bukti studi klinis yang cukup untuk mendukung klaim bahwa VCO dapat mengatasi COVID-19.</p>
                </div>
              </div>
          </div>
          <!-- end card isi -->

              <!-- awal card isi -->
              <div class="card-body py-1">
                <div class="card">
                    <div class="card-header ">
                      <h6 class="m-0 font-weight-bold text-primary">18.	Apakah semua penyakit pernafasan yang mengenai paru-paru tidak bisa sembuh 100% seperti terkena covid-19?</h6>
                    </div>
                    <div class="card-body mb-0">
                       <p>Tidak semua penyakit pernafasan yang mengenai paru-paru akan meninggalkan dampak keterbatasan fungsi paru. Namun penyakit pernafasan tertentu yang menimbulkan kerusakan masif pada jaringan paru-paru hingga menimbulkan jaringan parut pada umumnya akan berdampak pada keterbatasan fungsi paru-paru.</p>
                  </div>
                </div>
            </div>
            <!-- end card isi -->

              </div>
            </div>
              </div>        