              <!-- Content Row -->
              <div class="row">
                
                <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">1.	Apakah wanita hamil lebih berisiko terinfeksi COVID-19? </h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Untuk saat ini, tidak ada bukti bahwa ibu hamil berisiko lebih tinggi terkena penyakit berat dibandingkan populasi umum. <br>
                        Namun, seiring dengan perubahan pada tubuh dan sistem imunitas, kita tahu bahwa Ibu Hamil dapat terpengaruh oleh infeksi pernafasan. <br>
                        Oleh karena itu, untuk melindungi diri kita melawan COVID-19 penting bagi ibu hamil untuk mengambil tindakan pencegahan dengan melaporkan kemungkinan gejala (termasuk demam, batuk, dan sesak nafas) ke penyedia layanan kesehatan 
                        </p>
                    </div>
                    </div>
                  </div>

                    <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">2.	Bagaimana efek COVID-19 terhadap ibu hamil? </h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Sebagian besar wanita mengalami gejala ringan dan sedang seperti pilek/flu. Batuk, demam dan sesak nafas adalah gejala lain yang relevan.<br>
                        Gejala parah seperti <i>pneumonia</i> dan <i>hypoxia</i> yang disebabkan oleh COVID-19 terjadi pada orang tua, orang dengan imunitas rendah dan memiliki kondisi bawaan seperti diabetes, kanker dan penyakit paru-paru kronis. Gejala ini dapat terjadi pada ibu hamil sehingga harus diidentifikasi dan diobati segera. <br>
                        Pada salah satu penelitian terakhir, terdapat peningkatan risiko indikasi bayi lahir prematur karena alasan kesehatan medis ibu setelah usia kehamilan 28 minggu.                         
                        </p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">3.	Bagaimana efek COVID-19 terhadap janin? </h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Saat ini tidak ada data yang menunjukkan peningkatan risiko keguguran atau kehilangan kehamilan dini karena COVID-19<br>
                        Saat ini tidak ada bukti bahwa COVID-19 bersifat teratogenic (perkembangan tidak normal dari sel selama kehamilan yang menyebabkan kerusakan pada embrio)                        
                        </p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">4.	Hal yang perlu dilakukan Ibu Hamil sebagai proteksi terhadap COVID-19? </h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Ibu hamil harus melakukan tindakan pencegahan untuk menghindari infeksi COVID-19, seperti: </p>
                      <li>Sering mencuci tangan dengan sabun dan air atau membersihkan tangan dengan handsanitizer yang mengandung alkohol </li>
                      <li>Menjaga jarak dengan orang lain dan menghindari kerumunan </li>
                      <li>Jangan menyentuh mata, hidung dan mulut</li>
                      <li>Mempraktikkan etika bersin dan batuk. Tekuk siku tangan anda ketika bersin dan batuk atau tutup dengan tisu, kemudian segera buang tisu bekas tersebut. </li>
                      <li>Jika anda memiliki gejala demam, batuk atau kesulitan bernafas cari perawatan medis. Telepon Rumah Sakit terlebih dahulu dan ikuti arahan otoritas kesehatan setempat.  </li>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">5.	Apakah Ibu Hamil yang terinfeksi COVID-19 dapat menularkan ke janin?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Masih tidak diketahui apakah Ibu hamil yang terinfeksi COVID-19 dapat menularkan virus tersebut ke janin atau bayi ketika kehamilan atau saat persalinan. <br>
                        Saat ini virus belum ditemukan pada sampel cairan ketuban dan ASI                        
                        </p>
                    </div>
                    </div>
                  </div>


                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">6.	Kapan perlu ke dokter kandungan? </h6>
                    </div>
                    <div class="card-body mb-0">
                          <li>Muntah hebat </li>
                          <li>Pendarahan </li>
                          <li>Kontraksi/ Nyeri perut hebat </li>
                          <li>Pecah ketuban </li>
                          <li>Tekanan darah tinggi </li>
                          <li>Nyeri kepala hebat </li>
                          <li>Tidak merasakan gerakan janin </li>
                          <li>Kejang </li>

                    </div>
                    </div>
                  </div>


                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">7.	Bagaimana persalinan pada ibu dengan COVID-19?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Jika Sang ibu dicurigai terinfeksi COVID-19 dan terkonfirmasi, maka pekerja medis akan melakukan tindakan pencegahan untuk meminimalkan risiko infeksi pada pekerja medis dan orang lain, termasuk kebersihan tangan, dan penggunaan alat pelindung diri (APD) seperti sarung tangan, gaun sekali pakai dan masker medis. <br>
                        WHO menyarankan bahwa operasi caesar hanya di lakukan ketika ada indikasi medis 
                        </p>
                    </div>
                    </div>
                  </div>


                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">8.	Bagaimana menyusui di masa pandemic COVID-19? </h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Ibu menyusui yang terkonfirmasi positif COVID-19, PDP yang bergejala, ODP dalam masa isolasi mandiri sebaiknya tidak menyusui secara langsung, sebaiknya meminta orang lain yang sehat agar membantu perawatan bayi dan melakukan pemberian ASI perah secara benar </p>
                    </div>
                    </div>
                  </div>


              </div>       