
              <!-- Content Row -->
              <div class="row">
                <h3>Dr. Ade Indrisari, SpA, MKes</h3>
                <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">1.	Apakah buah-buahan harus disemprot dengan desinfektan?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Untuk buah-buahan cukup dengan cairan pembersih buah-buahan, intinya harus cuci tangan dulu dengan air mengalir.
                        </p>
                    </div>
                    </div>
                  </div>

                    <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">2.	Apabila ingin vaksin anak dalam keadaan pandemik bagaimana ya?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Imunisasi perlu dilakukan untuk melindungi anak dari penyakit berbahaya. Caranya dengan membuat jadwal terlebih dahulu agar anak tidak terpapar orang banyak. Sebaiknya juga mengejar apabila harus vaksin, jangan sampai tidak vaksin. Kalau seandainya daerah sudah positif, waktu menunda vaksin maksimal 1 bulan.
                        </p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">3.	Pertanyaan ketiga </h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Dok, kebetulan anak saya sekarang sedang opname sudah 2 hari, usia 3 tahun 6 bulan. Diagnosa awalnya adalah demam berdarah, tapi kemarin ada perkembangan lagi kemungkinan adalah campak dan dokter menyebutkan bahwa anak saya sangat beresiko terpapar covid-19. Ayahnya saat ini bekerja  di jakarta dan belum lama pulang, sedangkan saya sendiri, ibunya bekerja di bank, setiap hari harus bertemu banyak orang. Tindakan DSA saya di awal adalah langsung menyuruh suami saya pulang dari rumah sakit dan tidak boleh bertemu dengan anak saya. Beliau karantina mandiri di rumah sesudah dari Jakarta.</p>
                      <p>Pertanyaan saya:</p>
                      <li>Apakah ciri covid ada yang seperti demam berdarah atau campak? Timbul merah-merah di seluruh badan sampai dengan hari ke-3 dan hari ke-4 merah-merahnya memudar.</li>
                      <li>Suami saya sudah 2 minggu sejak pulang dari jakarta, mengapa masih tidak boleh bertemu dengan anak saya?</li>
                      <li>kondisi panasnya hanya 1 hari saja,  apa itu tergolong ke dalam pdp?</li>
                      <p>Jawaban:</p>
                      <li>Apabila ditemukan ruam pada anak, kemungkinan penyebabnya adalah virus lain, bukan covid-19.</li>
                      <li>Apabila sudah lebih dari 14 hari sudah dikatakan aman dan boleh bertemu dengan anaknya.</li>
                      <li>Untuk kondisi demam yang hanya satu hari tanpa disertai dengan gejala lain, belum bisa dikatakan pdp. Karena sejauh ini belum ditemukan ruam pada anak pada kasus covid-19. Ini harus dilihat lebih lanjut mengingat di Indonesia masih banyak kasus campak dan rubella. Coba diperiksakan kembali.</li>

                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">4.	Dok, dalam beberapa rilis disebutkan bahwa anak kecil lebih sedikit terdampak Covid-19, apakah ada penelitian yg sudah membuktikan bahwa memang imunitas anak lebih baik untuk menahan penyakit ini ketimbang orang yang lebih dewasa? Terima kasih. Salam.</h6>
                    </div>
                    <div class="card-body mb-0">
                      Pertanyaan yang masih diperdebatkan oleh banyak pihak. Kemungkinannya:<br>
                        a.	Orang yang terdeteksi biasanya lebih banyak dari orang-orang yang berpergian ke luar negeri atau orang dewasa sehingga orang dewasa lebih banyak di tes.<br>
                        b.	Ada teori yang menyatakan bahwa coronavirus memiliki banyak jenis, seperti SARS, MERS, Covid-19. Banyak anak-anak yang sudah terpapar virus ini tanpa gejala. Kesimpulannya anak-anak lebih ringan terpapar Covid-19 karena mereka sudah pernah terpapar coronavirus lainnya, sehingga ada imunitas terhadap virus corona, tetapi ini masih diteliti.<br>
                        c.	Ada teori lain menyatakan bahwa organ yang diserang adalah bagian pernapasan bagian bawah, namun pada anak-anak, pernapasan bagian bawahnya hanya memiliki reseptor yang sedikit, apabila terkena, hanya akan terpapar di saluran pernapasan bagian atas saja sehingga gejala tidak berat.<br>
                        d.	Ini hanya teori, masih butuh penelitian lebih lanjut.
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">5.	Dok, apakah ada efek samping pada ibu hamil jika terlalu sering memakai handsanitizer?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Bayi tetap aman apabila ibu memakai handsanitizer. Handsanitizer hanya pilihan kedua setelah sabun dan air mengalir.
                        </p>
                    </div>
                    </div>
                  </div>


                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">6.	Dok, saya memiliki anak yg berusia 2bulan 10hari yang sudah 2x imunisasi. Yang pertama BCG tanggal 28 Feb dan Hexaxim + Rotavirus tgl 26 maret. Untuk 21 april dijadwalkan imunisasi PVC, seharusnya imunisasi ketiganya apakah hanya imunisasi PVC saja atau hexaxim + ritavirus lagi? </h6>
                    </div>
                    <div class="card-body mb-0">
                          <p>Untuk hexaxim dan rotavirus jaraknya sekitar 6-8 minggu (1-2 bulan). Jadi pada usia 2 bulan, kurang lebih dapat giliran hexaxim dan rotavirus lagi pada bulan ke 4 bulan dan 6 bulan untuk ke dua dan ke tiga. Untuk bulan ganjilnya hanya pneumococcus saja.</p>
                    </div>
                    </div>
                  </div>

                  <h3>Dr. Feigan Yosua Axello Simarmata</h3>
                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">1.	Banyak sekali MLM berlomba-lomba mengiklankan produk mereka sebagai Anti Virus Corona (misal : Propolis dsb) khususnya untuk lansia, bagaimana menurut dokter?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Untuk sementara yang sudah teruji itu baru vitamin C. Namun, problemnya adalah vitamin C yang diuji adalah untuk terapi, ini diberikan ketika seseorang sudah terinfeksi Covid-19. Tetapi untuk dosis preventif belum jelas untuk dosis pemberiannya. Kalau untuk yang lain seperti propolis dsb belum ada buktinya. Namun secara mekanistik, bisa saja berperan untuk meningkatkan sistem imun, tidak salah apabila ingin dikonsumsi. Sulitnya, kita belum tau dosis, waktu pemberian, serta efek sampingnya. Lebih baik konsultasikan dulu kepada dokter.
                        </p>
                    </div>
                    </div>
                  </div>


                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">2.	Dok, bagaimana membedakan pasien suspect Corona sedangkan beliau memang memiliki riwayat asma? Maksudnya misal pasien demam dan sesak, sedangkan beliau memiliki riwayat penyakit asma.</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Asma sifatnya reversibel, yaitu ketika pemicunya dihilangkan dan inhaler kita berikan, maka keluhan akan hilang karena pada asma terjadi penyempitan di saluran pernapasannya. Dengan kita berikan treatment tadi, rasa sesaknya akan hilang, sedangkan pada Covid-19 yang terjadi adalah peradangan pada paru-paru. Jadi ketika diberikan inhaler, tidak ada respon. Itu bisa dijadikan clue, apabila tidak ada perubahan setelah diberikan treatment tadi, segera hubungi dokter.</p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">3.	Apabila seseorang berumur di usia 20an memiliki riwayat sinusitis yang kambuh setiap terkena udara polusi apakah rentan terhadap masuknya virus covid?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Belum ada penelitian hubungan sinusitis dengan resiko terpapar Covid-19. Covid-19 ini masuk dari saluran nafas atas lalu turun ke paru-paru. Apabila pintu masuknya mengalami peradangan pada sinusitis, secara mekanistik  Covid-19 lebih mudah untuk masuk sehingga pasien sinusitis lebih rentan terkena Covid-19. </p>
                    </div>
                    </div>
                  </div>

                    <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">4.	Dok, apakah dokter pernah berhadapan langsung dengan pasien covid? adakah tanda-tanda yang mungkin khas pada penyakit ini?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Tidak banyak yang khas dari penyakit Covid ini. Yang menjadi kuncinya adalah apabila dia moderate atau berat, perjalanan gejalanya cepat sekali, apalagi pada orang tua dan orang yang memiliki riwayat kontak dengan zona merah.</p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">5.	Dok, saya susah sekali mengontrol orang tua yg masih suka bepergian ke acara perkumpulan di kampung (pengajian) padahal kota tempat orang tua tinggal sudah zona merah. Ayah dengan riwayat diabetes dan ibu riwayat stroke. Apa ada saran utk mengatasinya?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Stroke penyakit kardiovaskular dapat meningkatkan resiko Covid-19, begitu juga dengan diabetes. Covid-19 biasanya timbul dalam sebuah cluster (ikut dalam sebuah acara yang di dalamnya ada orang yang terinfeksi). Saran saya adalah dengan menunjukkan resikonya kepada mereka, resikonya besar bahkan bisa sampai meninggal. Rumah sakit overload, ruang rawat dan ventilator minim. Jadi kalau misal orang tua kita kena Covid-19, pelayanan yang diperoleh tidak maksimal karena fasilitas sangat terbatas.</p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">6.	Dok, mertua saya usia 60 tahun, tinggal 1 rumah dengan kakak ipar saya yang kerjanya di bank yang pasti bertemu dengan banyak orang setiap harinya dan berkutat dengan uang. apa yang sebaiknya dilakukan sebagai tindakan pencegahan? perlukah kakak saya membatasi interaksi sama sekali tidak kontak dengan orang tua?</h6>
                    </div>
                    <div class="card-body mb-0">
                      Tips!<br>
                      a.	Batasi interaksi, walau masih muda, gejalanya ringan, kita tetap beresiko menyebarkan<br>
                      b.	Gunakan masker, tidak harus surgical mask, cukup masker kain untuk menahan penyebaran, karena covid-19 menyebar melalui droplet atau aerosol.<br>
                      c.	Pakaian tidak perlu dipisah tapi untuk alat makan kalau bisa dicuci dan dipisahkan.<br>
                      d.	Batasi jarak saja, tidak perlu sampai pindah rumah

                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">7. Untuk penyebab lansia lebih banyak kasus nya dibandingkan dengan usia lain apakah karena berkurangnya immunoglobin pada usia tersebut, kalau iya, apa yg bisa dilakukan untuk mendukung  pertumbuhan antibodi untuk melawan covid?                                                            </h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>1.	Sistem imun pada orang tua sudah mulai menurun sehingga kemampuan kecepatan dalam menangkal virus ini juga menurun. Yang bisa kita lakukan untuk mendukung pertumbuhan antibodi tubuh adalah dengan menjaga asupan makanan yang bergizi, makanan tinggi protein sangat membantu untuk pertumbuhan antibodi.</p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">8. Metode testing covid-19 ada berupa rapid-test dan swab. Apakah rapid-test melihat timbulnya antibodi pada pasien dapat menjadi acuan seseorang terkena covid-19 dan apakah ada perbedaan dengan swab test?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>2.	Metode testing Covid-19: rapid test dan swab. Rapid test tidak melihat virusnya, tapi apakah di tubuh pasien sudah ada antibodi, karena antibodi yang mengenali virus ini. Apabila hasil rapid test seseorang sudah ada antibodi, artinya orang ini positif, dia sudah pernah kontak dan terpapar dengan Covid-19. Akan tetapi, apabila hasilnya negatif, belum tentu dia tidak pernah kontak dan belum tentu tidak ada virus di dalam tubuhnya. Acuan kita terhadap diagnosis adalah dengan swab. Swab yang diperiksa adalah materi genetik, yaitu sisa-sisa bagian virus. Apabila hasilnya positif, artinya virus Covid-19 memang ada. Jadi apabila rapid test negatif dan swab test positif itu bisa terjadi. </p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">9. Pertanyaan ke sembilan</h6>
                    </div>
                    <div class="card-body mb-0">
                      Saya seorang nakes di salah satu RS rujukan pasien corona di vk. Setiap pulang saya selalu ganti pakaian dan mengganti masker. Sesampai di mobil saya selalu mengelap tas & pakaian saya dengan hand sanitizier apakah itu membantu mengurangi resiko? Dan baju serta tas dan barang lain yg saya bawa ke vk kemudian saat pulang saya taruh di jok mobil apakah berbahaya?  Walaupun saat sampai rumah saya selalu langsung mandi sebelum masuk rumah karna saya juga memiliki bayi berusia 2bulan 10hari. Apakah itu sudah cukup dok? <br>
                      <li>Sebenarnya pencegahannya sudah cukup komplit. Prinsipnya, pisahkan pakaian yang dipakai kerja (beresiko kontak) dengan pakaian yang dipakai untuk di rumah. Kalau untuk barang lain boleh saja diberi handsanitizer, kalau memang banyak kontak dengan yang beresiko, saya sarankan pisahkan saja barang untuk bertugas dan barang untuk dirumah.</li>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">10.	Apakah berolahraga di ruang terbuka namun sendiri/tetap memperhatikan pisikal distancing itu tetap aman dok?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Olahraga diruang terbuka dari WHO belum ada pernyataan tentang berapa lama virus bertahan diudara. Masalahnya kita masih belum tahu virus ini bertahan berapa lama dan terbang berapa jauh. Sebaiknya apabila tempat olahraga terlalu ramai, sebaiknya jangan dulu. 80% pasien Covid-19 gejalanya ringan.</p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">11.	Dok, orang tua mengalami gejala seperti lemas dan perut kembung, demam sehari, apalah sebaiknya diobati di rumah dulu? Kapan harus ke dokter</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Lemas dan demam bisa jadi gejala covid-19. Sebaiknya di rumah dulu saja dan gunakan obat rutin ketika merasakan gejala tersebut. Jangan lupa kontak dokter yang biasa merawat. Disarankan untuk ke dokter apabila mulai terjadi progresi dari keluhannya, misal demam tidak turun-turun, tadinya batuk dan dada jadi tidak enak. Apabila stabil, lebih baik jangan ke dokter dulu, karena kita sedang menghindari kontak dengan institusi kesehatan.</p>
                    </div>
                    </div>
                  </div>


              </div>       