
              <!-- Content Row -->
              <div class="row">
                <h3>Dr. Paulus Wisnu Kuncoromurti, Sp.P, M.Biomed</h3>
                <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">1.	Mohon jelaskan mengenai herd immunity. Terima kasih, dok.</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Setiap antigen seperti virus yang masuk ke pernapasan, terjadi interaksi dengan sistem imun kita, sistem imun yang ada disemua organ pernapasan kita. Ketika virus ini masuk, akan menimbulkan reaksi inflamasi yang besar. Apabila antibodi kita kuat, virus ini akan mati. Apabila virus yang lebih kuat, maka akan melewati semua tahapan-tahapan sistem imun di semua organ pernapasan kita dan mengakibatkan kerusakan berat bahkan fatal apabila virus sudah sampai di paru-paru. Solusinya, kita harus menjaga daya tahan tubuh kita agar optimal.</p>
                    </div>
                    </div>
                  </div>

                    <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">2.	Apabila harus isolasi mandiri dirumah obat/ suplemen apa yang harus kita siapkan?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Untuk suplemen saya rekomendasikan vitamin D atau vitamin C setiap hari dengan dosis yang tidak terlalu banyak. Selain itu, juga didukung dengan pola hidup yang sehat.
                        </p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">3.	Maaf dok izin bertanya, saya pernah membaca katanya "Peneliti asal IPB memperkirakan puncak Covid-19 pada tgl 28 April yang dimana hingga mencapai 1.000.000++ kasus." Bagaimana menurut dokter tentang hal itu? Dan bagaimana cara agar masyarakat bisa lebih sadar akan bahayanya pandemi ini?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Untuk hasil akhir, tergantung dari bagaimana eksekusi dilapangan. Hitungan 28 April dan jumlah angka kasusnya hanya hitungan perkiraan ketika kita tidak melakukan aksi apapun. Apabila kita melakukan aksi yang bagus, itu akan menentukan hasil dari tingkat penyebaran.</p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">4.	Virus Corona ini tdk kasat mata...apakah pakai mikroskop bisa kelihatan? Lalu virus ini bs bertahan brp lama dan dalam kondisi apa virus ini tidak bisa hidup?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Virus ini bisa dilihat menggunakan mikroskop, virus ini bisa hidup pada makhluk hidup. Apabila menempel di benda mati, perlahan virus ini akan mati. Virus dapat bertahan hingga 5 hari di benda mati yang tidak diberi perlakuan apa-apa.</p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">5.	Apakah penggunaan obat chloroquine yang selama ini digunakan untuk pasien covid sudah baik dan efektif untukk pasien (+) covid?  sedangkan obat tersebut biasa digunakan untuk penyembuhan malaria.</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Sudah mulai digunakan di China, namun angka keberhasilannya masih diteliti, belum dirilis secara resmi.
                        </p>
                    </div>
                    </div>
                  </div>


                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">6.	Saya pernah baca artikel, apa benar masker kain lebih efektif dok?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Masker kain tergantung dari penggunaan kita, kalau dipakai dengan benar, selalu mencuci tangan, dan selalu diganti setiap 2 jam, masker ini efektif.</p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">7.	Izin bertanya dok apakah jika mempunyai gejala positif covid 19 terus usianya masih muda itu harus isolasi mandiri dirumah? Apakah hal tersebut tidak membahayakan? Lalu jika isolasi mandiri apa yang harus dilakukan untuk cepat pulih?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Isolasi mandiri harus menggunakan masker walaupun di rumah. Kamar tersendiri, kamar mandi dan alat makan terpisah, menjalankan pola hidup sehat, dan selalu dalam pantauan dari pihak rumah sakit setiap hari mengenai gejala dan perkembangan.
                        </p>
                    </div>
                    </div>
                  </div>


                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">8.	Dok, kalau tidak salah jika manusia terkena covid nanti juga ada resiko lagi terkena covid layaknya flu. Pertanyaannya jika seseorang sudah terkena covid namun syukurnya sudah sembuh namun kondisi paru parunya sudah memburuk dikemudian buruknya ia terkena lagi apakah untuk covid yg selanjutnya ini akan kah terus menggrogoti paru parunya dok? terimakasih.</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>10 hari puncak dari virus berkembang, 10 hari kemudian virus akan mati. Nantinya, antibodi dalam tubuh bertugas mengenali virus covid yang akan masuk. Antibodi akan menjadi penjaga dan menolak virus tersebut. Setelah sembuh, bentuk paru-paru yang tidak mulus lagi ketika seseorang terkena covid, apabila kasusnya berat, akan menimbulkan kerusakan di paru-paru setelah sembuh.</p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">9.	Berapa sih sebenarnya kandungan vit C yg mampu diserap tubuh, dan apakah ada efek kalau kelebihan mengkonsumsi?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Kadar yang diserap tubuh hanya 30 mg dan bertahan sekitar seminggu di dalam tubuh. Tidak ada efek, akan tetapi sisa yang berlebih akan dibuang melalui urin.</p>
                    </div>
                    </div>
                  </div>

                    <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">10.	Sekarang lagi rame banget penolakan jenazah yg terkena covid, sebenarnya seberapa lama virus itu bertahan pada jenazah dok?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Virus tersebut nantinya akan mati bergantung dari jumlah virus yang ada di dalam tubuh. Virus hanya bisa hidup apabila dia berada di dalam makhluk hidup.</p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">11.	Apabila ada orang terkena covid, apakah barang2 yg biasa dia gunakan perlu disterilisasi semua dok? mohon infonya dok.</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Sebaiknya iya, perlu disterilisasi, menggunakan deterjen atau sabun sudah cukup untuk barang-barang seperti pakaian dan alat mandi. Desinfektan digunakan untuk benda yang berbahan dasar logam dan kayu.</p>
                    </div>
                    </div>
                  </div>

                  <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">12.	Seberapa efektif asam hipoklorit sbg disinfektan dibanding alkohol?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Sebenarnya tidak terlalu signifikan, keduanya sama-sama dapat digunakan sebagai disinfektan. Tergantung dari cara penggunaannya karena keduanya memiliki efek samping yang berbeda. Misal, alkohol tidak bisa digunakan untuk barang-barang yang panas, karena akan menyebabkan kerusakan, sedangkan Asam hipoklorit memiliki efek samping dapat menyebabkan korosi, permukaan seperti plasik tidak disarankan.</p>
                    </div>
                    </div>
                  </div>

                      <!-- Induk card -->
                <div class="col-lg-6 mb-0 py-3">
                  <div class="card shadow" style="text-align: justify;">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">13.	Izin bertanya lagi dok, pada ruangan pasien + covid terdiri dari beberapa orang, apakah itu tidak berpengaruh terhadap kesembuhan pasien?</h6>
                    </div>
                    <div class="card-body mb-0">
                      <p>Tujuannya untuk perawatan dan pengawasan. Untuk pengaruh kesembuhannya tergantung dari daya tahan tubuh pasien itu sendiri.</p>
                    </div>
                    </div>
                  </div>


              </div>        